@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
} */

.left {
    width: 60%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center center;
}

.flexwrap {
    display: flex;
    min-height: 100vh;
}

.right {
    background-image: url(images/hero-desktop.jpg);
    width: 40%;
    background-size: cover;
}

.left-flex {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    margin-top: 150px;
    max-width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.logo img {
    margin-top: 60px;
    width: 200px;
}

.bg-mobile {
    display: none;
}

.left-text {
    font-family: "Josefin Sans", sans-serif;
    margin-top: 70px;
}

.left-flex h1 {
    line-height: 1.1;
    letter-spacing: 10px;
    font-weight: 600;
    /* font-size: 100px; */
}

h1 {
    font-size: 60px;
}

h1 span {
    color: hsl(0, 36%, 70%);
    font-weight: 200 !important;
}

.description {
    color: hsl(0, 36%, 70%);
    max-width: 600px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 26px;
}
p {
    font-family: "Josefin Sans", sans-serif;
    /* padding: 10px 0; */
}

/* div #editing,
div #photography {
    margin-top: 17px;
} */

.input-field {
    max-width: 600px;
    margin-top: 60px;
}

input[type="email"]:focus:not(.browser-default):not([readonly]) {
    border-bottom: 1px solid hsl(0, 36%, 70%);
    box-shadow: 0 1px 0 0 hsl(0, 36%, 70%); /* after animation color change css */
    color: hsl(0, 36%, 70%);
}

/* Section */
.section {
    padding-top: 4vw;
    padding-bottom: 4vw;
    font-family: "Josefin Sans", sans-serif;
}

.section form {
    margin-top: 19%;
}

footer i {
    padding: 10px;
    margin-left: -11px;
}

.datepicker-date-display {
    background-color: hsl(0, 36%, 70%);
    color: #fff;
}

.datepicker-table td.is-selected {
    background-color: hsl(0, 36%, 70%);
    color: #fff;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: hsl(0, 36%, 70%);
}

[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid hsl(0, 36%, 70%);
    border-bottom: 2px solid hsl(0, 36%, 70%);
}

.btn,
.btn-large,
.btn-small {
    background-color: hsl(0, 36%, 70%);
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: hsl(0, 36%, 64%);
}

.input-field .prefix.active {
    color: hsl(0, 36%, 70%);
}

/* label color */
/* .input-field label {
    color: #000 !important;
} */
/* label focus color */
.input-field input[type="email"]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
.input-field input[type="email"]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* valid color */
.input-field input[type="email"].valid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* invalid color */
.input-field input[type="email"].invalid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* icon prefix focus color */

.input-field textarea:focus + label {
    color: #000 !important;
}
/* label underline focus color */
.input-field textarea:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* valid color */
.input-field textarea.valid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* invalid color */
.input-field textarea.invalid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* icon prefix focus color */

@media screen and (max-width: 600px) {
    .logo {
        margin: 30px 0;
        width: 100px;
    }

    h1 {
        font-size: 40px;
    }

    .left {
        width: 100%;
    }

    .right {
        display: none;
    }

    .logo img {
        width: 100px;
        margin-top: 10px;
    }

    .description {
        width: 300px;
    }

    .input-field {
        width: 300px;
        margin-top: 10px;
    }

    .left-flex {
        max-width: 300px;
        margin-top: 0;
    }

    .left-text {
        margin-top: 10px;
    }

    .left-flex {
        max-width: 300px;
        margin-left: 20px;
    }

    .bg-mobile {
        display: block;
        margin-left: -40;
        margin-right: -40;
        width: calc(100% + 120px);
    }
}

@media screen and (max-width: 1132px) and (min-width: 377px) {
    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    .left-flex {
        max-width: 700px;
        margin-top: 50px;
    }

    .left-text {
        margin-top: 20px;
    }

    .bg-mobile {
        display: block;
        margin-left: -40;
        margin-right: -40;
        padding-left: -40;
        padding-right: -40;
        width: calc(100% +300px);
    }

    .description {
        width: 1000px;
    }

    .input-field {
        width: 400px;
        margin: 0 auto;
        margin-top: 40px;
    }

    header h1 {
        text-align: center;
    }

    header p {
        text-align: center;
    }

    .logo {
        margin: 0 auto;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 600px) and (min-width: 377px) {
    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    .left-flex {
        max-width: 300px;
        margin-top: 50px;
        margin: 0 auto;
    }

    .left-text {
        margin-top: 20px;
    }

    .bg-mobile {
        display: block;
        margin: 0 auto;
        width: 250px;
    }

    .description {
        width: 250px;
        margin: 0 auto;
    }

    .input-field {
        width: 150px;
        margin: 0 auto;
        margin-top: 40px;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .logo {
        margin: 0 auto;
        padding-bottom: 40px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1583px) and (min-width: 993px) {
    section h2 {
        font-size: 40px !important;
        margin: 0;
    }

    section .row {
        padding: 30px 0;
    }

    .section {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
} ;
